<nav class="item-link">
  <div class="go-home">
    <a class="link" routerLink="/home">Головна</a>
    <span><img class="arrow" src="assets/arrow.jpg" alt=""></span>
  </div>
  <div class="go-payment">
    <span class="span-item">Оплата і доставка</span>
  </div>
</nav>
<div class="title">
  <h1 class="title-tree">Оплата і доставка</h1>
</div>

<div class="shipping-method">
  <h4 class="h4-deliverly">Способи доставки</h4>
  <div class="methods">
    <div class="num1">
      <img src="assets/7.png" alt=""><br>
      <a class="num1-a" href="https://novaposhta.ua/ru/delivery">"Нова пошта"</a>
      <p class="num1-p">
        За допомогою доставки «Нова пошта», Ви можете отримати товар навіть у найвіддаленіших куточках України. При
        покупці товарів інших продавців послуга післяплати оплачується окремо від доставки.</p>
      <img src="assets/86.png" alt="">
    </div>
    <div class="num1">
      <img src="assets/84.png" alt=""><br>
      <a class="num1-a" href="#">"Доставка кур'єром за адресою"</a>
      <p class="num1-p">
        Наші співробітники доставлять товар і продемонструють цілісність, комплектність і працездатність товару при
        автономній роботі пристрою (наприклад, телефон).
        З міркувань безпеки перевірка товару та товарно-грошовий обмін виробляються в автомобілі кур'єра.</p>
    </div>
    <div class="num1">
      <img src="assets/59.png" alt=""><br>
      <a class="num1-a" href="#">"Міст Експрес"</a>
      <p class="num1-p">
        За допомогою доставки «Міст Експрес», Ви можете отримати товар навіть у найвіддаленіших куточках України
        В середньому, доставка займає 2-5 днів, під час замовлення наші менеджери узгодять з Вами дату доставки перед
        відправкою товару.</p>
    </div>
    <div class="num1">
      <img src="assets/89.jpg" alt=""><br>
      <a class="num1-a" href="https://ukrposhta.ua/">"Укрпочта"</a>
      <p class="num1-p">
        Доставка в більш, ніж 11 000 відділень в 29 000 населених пунктів України.
        В середньому, доставка займає 2-5 днів.
        Відсутня можливість розрахунку подарунковим сертифікатом.
        Вартість доставки замовлення в відділення складатиме - 35 грн.</p>
    </div>
  </div>
</div>

<div class="payment method">
  <h4 class="h4-payment">Способи оплати</h4>
  <div class="methods">
    <div class="num1">
      <a class="num1-a" href="#">"Готівкова"</a>
      <p class="num1-p">
        Оплата готівкою при отриманні товару</p>
    </div>
    <div class="num1">
      <a class="num1-a" href="#">"Visa/MasterCard"</a>
      <p class="num1-p">
        Оплата замовлення онлайн банківською картою Visa і MasterCard <br>
        Доставка товару можлива тільки після підтвердження платежу.</p>
    </div>
    <div class="num1">
      <a class="num1-a" href="#">"Миттєва розстрочка для клієнтів ПриватБанку"</a>
      <p class="num1-p">
        Розстрочка за вигідними умовами і без документів. <br>
        Все, що вам потрібно для отримання розстрочки - карта ПриватБанку.</p>
    </div>
    <div class="num1">
      <a class="num1-a" href="#">"Безготівковими"</a>
      <p class="num1-p">
        Оплата за безготівковим розрахунком провадиться в касі відділення будь-якого банку або з розрахункового рахунку
        Вашої фірми <br>
        При виборі безготівкового способу оплати доставка замовлення можлива після надходження коштів на наш
        розрахунковий рахунок</p>
    </div>
  </div>
</div>
