<nav class="item-link">
  <div class="go-home">
    <a class="link" routerLink="/home">Головна</a>
    <span><img class="arrow" src="assets/arrow.jpg" alt=""></span>
  </div>
  <div class="go-payment">
    <span class="span-item">Контактна інформація</span>
  </div>
</nav>
<div class="title">
  <h1 class="title">Контактна інформація</h1>
</div>
<div class="container">
<div class="wrapper1">
  <div class="contact">
    <div class="tel">
      <i class="fas fa-phone-square-alt"></i>
      <div>
        <span>044 848-22-00</span> <br>
        <span>095 848-22-00</span>
      </div>
    </div>
    <div class="email">
      <i class="fas fa-envelope"></i>
      <p>mail@mail.com</p>
    </div>
    <div class="skype">
      <i class="fab fa-skype"></i>
      <p>skype</p>
    </div>
    <div class="viber">
  <img class="viber-icon" src="assets/viber.png" alt="">
      <p>095 848-22-00</p>
    </div>
    <div class="telegram">
      <i class="fab fa-telegram"></i>
      <p>telegram</p>
    </div>
    <div class="whats-app">
      <i class="fab fa-whatsapp-square"></i>
      <p>whats-app</p>
    </div>
  </div>
</div>

<div class="wrapper2">
  <div class="addr">
    <i style="margin:5px 8px;" class="fas fa-map-marker-alt"></i>
            <p>Львів,вул.Франка 61</p>
  </div>
  <!-- <iframe width="550px" height="300px" src="https://goo.gl/maps/mkrscehnaxtpLpUD8" frameborder="0"></iframe> -->
</div>


</div>
