<nav class="item-link">
  <div class="go-home">
    <a class="link" routerLink="/user/home">Головна</a>
    <span><img class="arrow" src="assets/arrow.jpg" alt=""></span>
  </div>
  <div class="go-blog">
    <a class="link" routerLink="/user/blog">Блог</a>
    <span><img class="arrow" src="assets/arrow.jpg" alt=""></span>
  </div>
  <div class="go-christmas-tree">
    <span class="span-item"> {{blog?.text}}</span>
  </div>
</nav>
<div class="container-blog">

  <div class="img-bl">
    <img class="image" src="{{blog?.img}}" alt="">
  </div>

  <div class="information">
    <h2>Новий рік не за горами!</h2>
    <p>{{blog?.text}}</p>
    <p>З новорічними святами пов'язана велика кількість прекрасних традицій. Без сумніву, однією з найулюбленіших є
      прибирання новорічної ялинки.

      Ми дістаємо з комори розкішну штучну ялину або приносимо в будинок зелену, що пахне зимовим лісом, натуральну
      ялинку й прикрашаємо її чудовими барвистими іграшками. Різнокольорові, блискучі ялинкові кулі, які мерехтять у
      густій хвої, дарують намдовгоочікуване відчуття свята, веселощів та чаклунства.

      Ще двісті років тому ялинки на Різдво прикрашали за допомогою золочених горіхів і фруктів. Легенда свідчить, що
      звичні для нас ялинкові прикраси народилися в Німеччині, у невеликому містечку Лауша (1848 рік). Там щорічно
      велику центральну ялинку прикрашали яскраво-червоними яблуками, на які був багатий той край. Але одного разу
      мешканців міста чекало величезне розчарування, оскільки напередодні Різдва вони побачили, що через чийсь недогляд
      усі призначені для прикрашання ялинки яблука були зіпсовані. Для порятунку свята міські склодуви всього за одну
      ніч видули 100 різнокольорових скляних куль, якими й була вбрана головна ялинка. З тих пір такі ялинкові прикраси
      стали невід'ємним атрибутом зимових свят.</p>
    <p>В інтернет-магазині <b>Holiho</b> ви можете підібрати якісні новорічні товари на будь-який смак і недорого.
      Ялинкові прикраси у вінтажному стилі створять відчуття справжнього різдвяного балу.
      Зворушливі фігурки сніжинок, Діда Мороза, сніговиків і янголят розбудять приємні спогади про новорічні святкування
      з вашого дитинства.
      Класичні скляні іграшки з ручним розписом перетворять вашу ялину на справжній витвір мистецтва.
      Для надання реалістичності ялинці використовуйте штучний сніг, що продається в балончику у вигляді аерозолю.
      Зробити свято по істині незабутнім і емоційно приємним допоможуть дитячі новорічні костюми. Завдяки ним ваші
      малюки перевтіляться в милих жовтих курчат, прекрасних принцес і принців і в інші улюблені ними образи.
      Ваші діти всім серцем порадіють запаленим бенгальським вогням і конфеті, що розсипається з вибухаючих новорічних
      хлопавок.
      Якщо ви хочете організувати новорічне святкування в школі або в дитячих садках, то відмінним рішенням для цього
      будуть прикраси з пластмаси. Блискучі, матові або іскристі кулі для новорічної ялинки виглядають не гірше скляних,
      але при цьому коштують дешевше, а також вони довговічні та безпечні.</p>





  </div>

</div>
